@import "/src/Vars.scss";

.wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // gap: 20px;
    gap: clamp(0.625rem, 0.405rem + 0.9vw, 1.25rem);

    @media (max-width: 1300px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);

        .item {
            &:nth-child(1) {
                order: 2;
            }
            &:nth-child(2) {
                order: 1;
            }
            &:nth-child(3) {
                order: 3;
            }
            &:nth-child(4) {
                order: 4;
            }
            &:nth-child(5) {
                order: 6;
            }
            &:nth-child(6) {
                order: 5;
            }
            &:nth-child(7) {
                order: 7;
            }
            &:nth-child(8) {
                order: 8;
            }
        }
    }
}

.item {
    aspect-ratio: 1;
    border: 1px solid $colorLightGray3;
    // border-radius: 40px;
    border-radius: clamp(1.25rem, 0.811rem + 1.8vw, 2.5rem);
    // padding: 35px;
    padding: clamp(0.875rem, 0.414rem + 1.89vw, 2.188rem);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: #000;
    text-decoration: none;

    transition: 0.4s;

    h3 {
        // font-size: 36px;
        font-size: clamp(1rem, 0.561rem + 1.8vw, 2.25rem);
        font-weight: 600;
        line-height: 1;
    }

    div {
        // width: 70px;
        // height: 70px;
        width: clamp(1.875rem, 0.997rem + 3.6vw, 4.375rem);
        height: clamp(1.875rem, 0.997rem + 3.6vw, 4.375rem);
        aspect-ratio: 1;

        margin-left: auto;
        width: max-content;

        border: 1px solid $colorLightGray3;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: 0.3s;

        &:hover {
            background-color: #f0f0f0;
        }

        svg {
            width: clamp(0.613rem, 0.1rem + 1.71vw, 2rem);
            position: relative;
            left: 3px;
        }
    }

    &:hover {
        color: #fff;
        background-color: $colorBlue;

        div {
            background-color: #fff;
            border: 1px solid transparent;

            transition: 0.3s;

            &:hover {
                background-color: #f0f0f0;
            }

            svg {
                path {
                    stroke: $colorBlue;
                }
            }
        }
    }

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:nth-child(1) {
        background-image: url(/services-wrap-1.png);
        border: none;
    }
    &:nth-child(3) {
        background-image: url(/services-wrap-2.png);
        border: none;
    }
    &:nth-child(5) {
        background-image: url(/services-wrap-3.png);
        border: none;
    }
    &:nth-child(7) {
        background-image: url(/services-wrap-4.png);
        border: none;
    }
}
