.wrap {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    // gap: 100px;
    gap: clamp(0.625rem, -1.351rem + 8.11vw, 6.25rem);

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }

    > img {
        width: 100%;
        border-radius: 20px;
        height: 100%;
        object-fit: cover;
    }
}


.box {
    display: flex;
    flex-direction: column;
    // gap: 20px;
    gap: clamp(0.625rem, 0.405rem + 0.9vw, 1.25rem);
}