@import "/src/Vars.scss";


.whyus {
    padding: 40px 0;
}

.wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.whyus {


    .itemHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // font-size: 44px;
        font-size: clamp(1.125rem, 0.554rem + 1.94vw, 1.95rem);

        cursor: pointer;
        border-top: 1px solid $colorBlue;
        // padding: 30px 0;
        padding: clamp(0.313rem, 0.236rem + 1.25vw, 1.075rem) 0;
        
        // gap: 30px;
        gap: clamp(0.875rem, 0.524rem + 1.44vw, 1.875rem);

        font-weight: 600;
        line-height: 1.1;

        transition: all .3s;

        span {
            max-width: 1200px;
            &.index {
                font-weight: 600;
                opacity: 0.3;
                // font-size:70px;
                font-size: clamp(2rem, 1.166rem + 2.62vw, 3.675rem);
                color: #007bff;
            }
        }
    }


}


.itemContent {
    padding-bottom: 15px;
}
