@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "/src/Vars.scss";

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    footer {
        margin-top: auto;
    }
}

html {
    font-family: "Manrope", sans-serif;
}

body {
    background-color: $colorLightGray;
}

section {
    // padding-top: 150px;
    // padding-top: clamp(2.188rem, -0.338rem + 10.36vw, 9.375rem);
    padding: clamp(1.25rem, 0.042rem + 4.95vw, 4.688rem) 0;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
}

p {
    // font-size: 24px;
    font-size: clamp(0.75rem, 0.486rem + 1.08vw, 1.5rem);
    line-height: 1.4;
    color: #000;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    padding-top: 50px;

    h1 {
        font-size: 90px;
        font-weight: 600;
        line-height: 1.1;
        color: $colorBlue;
        animation: colorChange 2s infinite;
    }

    h2 {
        font-weight: 500;
        font-size: 22px;
    }
}

@keyframes colorChange {
    0% {
        color: $colorBlue;
    }
    50% {
        color: #000;
    }
    100% {
        color: $colorBlue;
    }
}
